<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h2>연락처 실습 메인 페이지</h2><hr><br>
    <form action="{% url 'result' %}">
        <input type="text" name="word" cols="20" rows="1"></input>
        <input type="submit" value="확인" />
    {% for Phone in Phones %}
        <p>
            ▶ <a href="{% url 'detail' Phone.id %}">{{ Phone.name }} - {{ Phone.phone_num }}</a>
            <a href="{% url 'update' Phone.id %}">수정</a>
            <a href="{% url 'delete' Phone.id %}">삭제</a>
        </p>
    {% empty %}
        <p>
            저장된 연락처가 없습니다.
        </p>
    {% endfor %}
    <a href="{% url 'create' %}">새 번호 추가</a>
</body>
</html>